---
import { parseThread } from '@schemas/ThreadSchema';
import DiscussionApp from '@server/DiscussionApp/DiscussionApp.astro';
import ThreadArticle from '@server/ThreadsApp/ThreadArticle.astro';
import ThreadInfoSection from '@server/ThreadsApp/ThreadInfoSection.astro';
import { toClientEntry } from '@utils/client/entryUtils';
import { createSnippet } from '@utils/contentHelpers';
import { t } from '@utils/i18n';
import Page from 'src/layouts/Page.astro';

const { threadKey } = Astro.params;

if (!threadKey) {
  return Astro.redirect('/404');
}

const origin = new URL(Astro.request.url).origin;

// Fetch site data from the api
const threadResponse = await fetch(`${origin}/api/threads/${threadKey}.json`);

if (threadResponse.status === 404) {
  return Astro.redirect('/404');
}
const threadData = await threadResponse.json();

const thread = parseThread(toClientEntry(threadData), threadKey);

const title = `${t('app:shortname')} - ${thread.channel}`;

const snippet = createSnippet(thread.markdownContent || '');
---
<Page title={title} description={snippet}>
  <div class="content-columns">
    <ThreadArticle thread={thread} />
    <ThreadInfoSection thread={thread} />
  </div>
  <DiscussionApp thread={thread} />
</Page>