---
import type { Channel } from '@schemas/ChannelSchema';
import { type Thread, parseThread } from '@schemas/ThreadSchema';
import { t } from '@utils/i18n';
import ChannelInfoSection from './ChannelInfoSection.astro';
import PaginationToolbar from './PagingToolbar.astro';
import ThreadListItem from './ThreadListItem.astro';

interface Props {
  channel: Channel;
  startAt: number;
}

const { channel, startAt } = Astro.props;
const origin = Astro.url.origin;

const queryString =
  startAt > 1
    ? `${origin}/api/threads.json?channel=${channel.slug}&limit=10&startAt=${startAt}`
    : `${origin}/api/threads.json?channel=${channel.slug}&limit=10`;

const threadListResponse = await fetch(queryString);
const threadsJSON = await threadListResponse.json();

const threads = threadsJSON.map((thread: Thread) =>
  parseThread(thread, thread.key),
);
const lastThreadFlowTime = threads[threads.length - 1]?.flowTime || 0;
const hasNextPage = threads.length === 10;
---
<div class="content-columns">
  <section class="column-l surface">
    <div class="toolbar px-2">
      <a href={`/channels/`}>{t('threads:forum.title')}</a> 
      <span>{channel.name}</span>
    </div>
   <PaginationToolbar
     channel={channel} 
     lastThreadFlowTime={lastThreadFlowTime} 
     hasNextPage={hasNextPage}/>

     <!-- Threads for the page  -->
    <div class="p-2 flex-col">
      { threads.map((thread: Thread) => (
        <ThreadListItem thread={thread} />
        )) }
    </div>

    <PaginationToolbar channel={channel} lastThreadFlowTime={lastThreadFlowTime} hasNextPage={hasNextPage}/>
  </section>
  
  <ChannelInfoSection
    {channel}
    {startAt} />
</div>