---
import type { Site } from '../../schema/Site'
import { systemToNoun } from '../../schema/conversions'
import { DateTime } from 'luxon'

interface Props {
  site: Site
}
const { site } = Astro.props

const flowDate = DateTime.fromSeconds(site.flowTime / 1000)
const flowTime = site.flowTime ? flowDate.toFormat('dd.MM.yyyy – HH:mm') : '-'

const noun = systemToNoun(site.system)
---
<cn-card
  title={site.name}
  href=`/sites/${site.key}`
  cover={site.posterURL}
  noun={noun}>
  <p class="small">
    {site.description}
  </p>
  <div slot="actions" style="flex small">
    <p>{ flowTime }</p>
  </div>
</cn-card>
