---
import AppFooter from '@server/AppFooter.astro';
import BaseTail from '@server/BaseTail.astro';
import BottomBar from '@server/BottomBar.astro';
import AppBar from 'src/components/server/AppBar.astro';
import AppRail from 'src/components/server/AppRail.astro';
import BasePostscripts from 'src/components/server/BasePostscripts.astro';
import BaseHead from '../components/server/BaseHead/BaseHead.astro';

type Props = {
  title?: string;
  description?: string;
  image?: string;
  noun?: string;
};

const { title, description, image, noun } = Astro.props;
---

<html lang="en">
  <BaseHead title={title} description={description} image={image}/>
  <body>
    <AppBar title={title} noun={noun}>
      <slot name="app-bar" />
    </AppBar>
	  <AppRail title={title}/>
    <BottomBar />

    <cn-tray-button></cn-tray-button> 
    <nav class="cn-tray">
      <slot name="app-tray" />
   </nav>
   
	  <main>
      <slot />
      <AppFooter />
    </main>
    <nav id="fab-tray"><slot name="fab-tray"></slot></nav>
    <BasePostscripts />
    <BaseTail />
  </body>
</html>
